@charset "UTF-8";

@media screen, projection
{
  .yform {
    margin:0 auto;
    padding:0px;
  }

  .yform label {
    color:#666;
  }

  .yform input,
  .yform textarea,
  .yform select, 
  .yform optgroup {
    font-family:Arial, Helvetica, sans-serif; /* proportional fonts for all form elements */
  }

  .yform .type-text input,
  .yform .type-text textarea,
  .yform .type-select select {
    border:1px solid #ddd;
	padding:5px 1em;
	color:#666;
  }

  /* :hover and :focus status on form fields | Effekt zur Hervorhebung von Formularfeldern bei :hover oder :focus */
  .yform div.type-text input:focus,
  .yform div select:focus,
  .yform div textarea:focus,
  .yform div.type-text input:hover,
  .yform div select:hover,
  .yform div textarea:hover,
  .yform div.type-text input:active,
  .yform div select:active,
  .yform div textarea:active {
    border:1px #a66 solid;
    background:#fff;
	padding:5px 1em;
	color:#4D87C7;
  }

  /* Styling of custom styled buttons | Gestaltung von individuell gestalteten Buttons */
  .yform .type-button input {
    border-top:1px #ddd solid;
    border-left:1px #ddd solid;
    border-right:1px #444 solid;
    border-bottom:1px #444 solid;
    color:#666;
    background:#454500 url(../images/button_gray.png) top left repeat-x;
    padding:5px 1em;
  }

  .yform .type-button input[type=reset] { color:#300; background:#661717 url(../images/button_red.png) top left repeat-x; }
  .yform .type-button input[type=submit] { color:#330; background:#5e5607 url(../images/button_yellow.png) top left repeat-x; }

  /* optional button styling for IE6 using classes */
  .yform .type-button input.reset { color:#300; background:#661717 url(../images/button_red.png) top left repeat-x; }
  .yform .type-button input.submit { color:#330; background:#5e5607 url(../images/button_yellow.png) top left repeat-x; }

  /* :hover and :focus status on buttons | Effekt zur Hervorhebung von Schaltern bei :hover oder :focus */
  .yform div.type-button input:focus,
  .yform div.type-button input:hover,
  .yform div.type-button input:active {
    border-top:1px #444 solid;
    border-left:1px #444 solid;
    border-right:1px #ddd solid;
    border-bottom:1px #ddd solid;
    color:#fff;
    background:#555; 
  }

  .yform div.type-button input.reset:focus,
  .yform div.type-button input.reset:hover,
  .yform div.type-button input.reset:active {
    background:#800; color:#fff;
  }

  .yform div.type-button input.submit:focus,
  .yform div.type-button input.submit:hover,
  .yform div.type-button input.submit:active {
    background:#880; color:#fff;
  }

 /*------------------------------------------------------------------------------------------------------*/
  /* Styling of error-messages | Fehlermeldungen */
  .yform div.error {
    border:1px #a00 dashed;
    background:#faf4f4;
    padding:0.5em;
  }

  .yform div.error label { color:#000; font-weight:bold; }
  .yform div.error .message { color:#800; }

 
}

@charset "utf-8";
 /*------------------------------------------------------------------------------------------------------*/
  * { margin:0; padding:0; }
  html * { font-size:100.01%; }
  body { overflow-y: scroll; }
  body { text-align: center; }
  textarea, pre, code, kbd, samp, var, tt {
    font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }
  body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:75.00%;
    color:#999;
  }
  /*--- Headings | Überschriften ------------------------------------------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family:"Times New Roman", Times, serif;
    font-weight:normal;
    color:#ccc;
    margin:0 0 0.25em 0;
  }

  h1 { font-size:250%; }                       /* 30px */
  h2 { font-size:200%; }                       /* 24px */
  h3 { font-size:110%; }                       /* 18px */
  h3 { color:#999;}
  /* --- Lists | Listen  -------------------------------------------------------------------------------- */

  ul, ol, dl { line-height:1.5em; margin:0 0 1em 1em; }
  ul { list-style-type:disc; }
  ul ul { list-style-type:circle; margin-bottom:0; }

  ol { list-style-type:decimal; }
  ol ol { list-style-type:lower-latin; margin-bottom:0; }

  li { margin-left:0.8em; line-height:1.5em; }

  dt { font-weight:bold; }
  dd { margin:0 0 1em 0.8em; }
  em {color: #ccc;}
/*--- Links ----------------------------------------------------------------------------------------- */

  a { color:#333; background:transparent; text-decoration:none; }
  a:visited  { color:#666; }

  /* (en) maximum constrast for tab focus - change with great care */
  /* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
  a:focus { text-decoration:underline; color:#000; background: #fff; outline: 3px #f93 solid; }
  a:hover,
  a:active { color:#182E7A; text-decoration:underline; outline: 0 none; }

  /*------------------------------------------------------------------------------------------------------*/ 
  body { 
    font: normal 16px/20px "Helvetica Neue", Helvetica, sans-serif;
    background: rgb(237, 237, 236);
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .page_margins {
    margin: 0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top: 0px solid #fff;
    padding: 10px 10px 26px 10px;
  }
  #header{width: 600px; text-align: left;}
  #footer{width: 600px; text-align: left;}
  #article{width: auto; margin-top: 20px;}
  #nav{list-style:none; margin:-50px 2px 2px 2px; padding:2px;}
  #nav li{float:right; margin-top:0px;}
  .yform{width: 600px;}
  #tag_cloud{width: 600px;}

/*--for tag cloud--------*/
  #tag_cloud a, #tag_list a{ padding: 4px; line-height: 1.5em;}
  .css1 { font-size: 0.8em; padding: 10px 4px; color: #039}
  .css2 { font-size: 1.2em; padding: 12px 6px; color: #03F}
  .css3 { font-size: 1.8em; padding: 20px 8px; color: #3s33}
  .css4 { font-size: 2.6em; padding: 25px 14px; color: #399}
  .color0{ color: #cccccc;}
  .color1{ color: #66CC33;}
  .color2{ color: #CCFF00;}
  .color3{ color: #99FF99;}
  .color4{ color: #3399CC;}
  .color5{ color: #0066FF;}
  .color6{ color: #FF6600;}
  .color7{ color: #FFCC66;}
  .color8{ color: #CCCCFF;}
  .color9{ color: #C0C0C0;}